/packages
.packages

/.venv
..venv

# macOS files
.DS_Store

# Ignore all pycache folders from all subfolders
**/__pycache__/
**/*.py[cod]

/rolling_window_results.json
.rolling_window_results.json

/data/all_yield_data(big).csv
.all_yield_data(big).csv